<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯誤頁面</title>
    <link rel="stylesheet" type="text/css" href="week-6.css" media="all" /> 
</head>
<body>
    <div class="box_3">
        <img src="bird_icon.png"style="height:50%;">
        <div class="text_1">失敗頁面</div>
        <div class="text_2">{{message}}</div>
        <div class="text_3" ><a href="/">回首頁</a></div>
    </div>
    

</body>
</html>