<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入頁面</title>
    <link rel="stylesheet" type="text/css" href="week-6.css" media="all" /> 

</head>
<body>
    <div class="box_1">
        <div class="text_1">歡迎光臨，請註冊登入系統</div>
        <div class="text_2">註冊帳號</div>
        <form action="/signup" method="POST">
            <div class="text_3"> 姓名    <input type="text" name="name"></div>
            <div class="text_3"> 帳號    <input type="text" name="account"></div>
            <div class="text_3"> 密碼    <input type="password" name="password"></div>
            <div><br/><button>註冊</button></div>
        </form>
        <hr/>
        <div class="text_2">登入系統</div>
        <form action="/signin" method="POST">
            <div class="text_3"> 帳號    <input type="text" name="account"></div>
            <div class="text_3"> 密碼    <input type="password" name="password"></div>
            <div><br/><button>登入</button></div>
        </form>
        <img src="bear_icon.png" style="height:30%;position:relative;right:150px;bottom:60px;"/>
    </div>
    
</body>
</html>