<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link rel="stylesheet" type="text/css" href="week-4.css" media="all" />
</head>
<body>
    <div class="box_2">
        <div class="text_1">歡迎光臨，這是會員頁面</div>
        <div class="text_2">恭喜您,成功登入系統</div>
        <div class="text_3" ><a href="/signout">登出系統</a></div>
        <img src="deer_icon.png" style="height: 50%;position:relative;bottom:-20px;"/>
    </div>
    
</body>
</html>